<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="forum">
        <div class="forum-header">
          <h2>Welcome to the chat!</h2>
        </div>
        <div class="post-parent">
          <% if(posts.length > 0) { %> <% posts.forEach(post => { %>
          <div class="post">
            <div class="profile">
              <div class="name">
                <h3><%= post.user %></h3>
              </div>
            </div>

            <div class="user-info"></div>

            <div class="message-container">
              <div class="message-info"><%= post.date %></div>
              <div class="message">
                <p>><%= post.body %></p>
              </div>
            </div>
          </div>
          <% }) %> <% } else { %>
          <p>No posts to display</p>
          <%}%>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
